.arrow-container {
    width: 80px;
    height: 80px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
}

.arrow {
    position: relative;
    animation: moveDown 2s infinite;
    color: #0f0a31;
    font-size: 5em;
    text-align: center;
}

@keyframes moveDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}
